* {
    margin: 0;
    padding: 0;
}

body {
    background: url("back.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
    margin: 10px;
    padding: 10px;
}

header {
    background: linear-gradient(to right, rgba(7, 11, 103, 0.5), rgba(14, 2, 46, 0.5));
    padding: 35px;
    text-align: center;
    font-family: segoe print;
}

img {
    width: 550px;
}

.content {
    text-align: center;
    background: rgba(8, 1, 25, 0.5);
    margin: 20px 0;
    padding: 35px 0;
    font-family: sans-serif;
}

footer {
    background: rgba(8, 1, 25, 0.5);
    padding: 25px
}

.right {
    float: right;
    margin-right: 200px;
}

.left {
    float: left;
    margin-left: 200px;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

a:hover {
    color: rgb(230, 172, 65);
    transition: 1s;
}

footer::after {
    content: "";
    clear: both;
    display: block;
}

i {
    margin: 10px;
}